@page  "/User/ListUsuario"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Usuários</h3>

<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in userList)
            {
            <tr>
                <td>@item.Title</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>
                    <a href="/User/EditUsuario/@item.Id.ToString()" ><button class="btn btn-success">Editar</button></a>
                    <button class="btn btn-danger" @onclick="@(() => DeleteUser(item.Id))">Delete</button>
                </td>
            </tr>
            }   
        </tbody>
    </table>
</div>

@code {

    private List<User> userList = new List<User>();

    protected override async Task OnInitializedAsync()
    {

        var users = await Http.GetFromJsonAsync<List<User>>("/User/List");
        foreach (var item in users)
        {
            userList.Add(item);
        }
    }

    private async Task DeleteUser(int itemId)
    {
        //call controller
        await Http.DeleteAsync("/User/Delete/"+itemId);
        NavigationManager.NavigateTo("User/ListUsuario", true);
    }

}
